.flag {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  opacity: 35%;
  filter: grayscale(75%);
}

.Brasil {
  background-image: url(../images/flags/brasil);
}