nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  gap: 5%;
  background-color: $darkPink;
  padding: 10px;

  .hamburger {
    height: 25px;
    width: 25px;
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: rgba(255, 255, 255, 0);
  }

  .openHamburger {
    background-image: url(../images/close-button.png);
  }
}

#navLinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45px;
  left: 0;
  width: 150px;
  height: 100px;
  background-color: #5f544ee0;

  a {
    font-size: 22px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 6%;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  nav {
    padding: 15px;

    a {
      font-size: 18px;
    }

    a:hover {
      color: $mainPink;
    }
  }

  #navDesktop {
    display: flex;
    gap: 25%;
    margin-left: auto;
    margin-right: 10%;
  }
}